################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/CreamCustardBun/.vs/CreamCustardBun
/src/.vs/CreamCustardBun
/src/CreamCustardBun/bin/Debug/netstandard2.0
/src/CreamCustardBun/obj
